* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  padding: 16px;
}

.card {
  width: 300px;
  margin: 0 auto 16px;
  border: 1px solid #000;
}

.card__body {
  padding: 12px;
}

.card__title, .card__text {
  margin-bottom: 8px;
}

.card__img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.card__link {
  display: inline-block;
  padding: 8px;
  color: #fff;
  background-color: #0f7ffa;
  border: 1px solid #0f7ffa;;
  border-radius: 5px;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}

.card__link:hover {
  color: #0f7ffa;
  background-color: #fff;
}